    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="assets/images/books.png" alt="" class="img-responsive" width="50">
            </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list">
                    <li *ngFor="let cat of productCategories">
                        <a routerLink="/category/{{cat.id}}" routerLinkActive="active-link">{{cat.categoryName}}</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </aside>
