<div class="page-wrapper">
    <product-category-menu></product-category-menu>
    <div class="page-container" padding-top="3px">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" onsubmit="return false;" method="GET">
                            <search></search>
                        </form>
                        <div class="cart-area d-n">
                            <a href="shopping-detail.html">
                                <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
                                    aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer>